{% load static %}
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chat.js' %}"></script>
    </head>


{% block body %}
<nav class="nav-color lighten-3">
    <div class="nav-wrapper container" style="padding: 5px">
      <a style="float: left" href="{% url 'real_chat:home' %}"><h5>Home</h5></a>
      <!-- <a href="#" class="brand-logo">Safe Chat</a> -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li style="padding: 5px"><a href="{% url 'real_chat:profile_with_pk' pk=currUser.pk %}"><h5>{{ currUser.name }}</h5></a></li>
          <li><a href="{% url 'real_chat:logout' %}"><i class="material-icons">power_settings_new</i></a></li>
      </ul>
    </div>
</nav>
<!-- <div class="nav-wrapper container">
    <ul id="nav-mobile" class="hide-on-med-and-down">
        <li float="left"><h4>{{ receiver_obj.name }}</h4></li>
    </ul>
</div> -->

    <div class="section" style="height: 80vh">
    <div class="row">
        <div class="col s3">
        <div class="card">
            <div class="collection">
                {% for friend in friends %}
                <a href="{% url 'real_chat:chat' currUser.id friend.id  %}" class="collection-item row">
                    <!-- <img src="https://frontend-1.adjust.com/new-assets/images/site-images/interface/user.svg" class="col s4"> -->
                    <div class="col s4"><i class="friend-icon">{{ friend.name.0 }}</i></div>
                    <div class="col s8">
                    <span class="title" style="font-weight: bolder">{{ friend.name }}</span>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        </div>
        <div class="col s9">
            <div class="receiver-container">
                {% if receiver_obj %}
                <ul id="receiver">
                    <li>
                        <i class="friend-icon" style="margin-top: -5px;">{{ receiver_obj.name.0 }}</i>
                        <h5 style="font-weight: bold; display: inline-block;">{{ receiver_obj.name }}</h5>
                    </li>
                </ul>
                {% endif %}    
            </div>
            <div class="card">
            <div id="board" class="section grey lighten-3" style="height: 68vh; padding: 5px; overflow-y: scroll">
                {% block messages %}

                {% endblock %}
            </div>
            <form id="chat-box" class="form-group {% block hide %}hide{% endblock %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col s11">
                        <div class="input-field">
                            <input id="id_message" name="message" type="text" placeholder="Type your message..">
                        </div>
                    </div>
                    <div class="col s1" style="line-height: 80px">
                        <button class="btn btn-floating blue lighten-2 waves-effect waves-light"><i class="material-icons">send</i></button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    </div>
    {% load static %}
    <script src="{% static 'js/chat.js' %}"></script>
    <script>
        // For receiving
        sender_id = "{{ receiver_obj.id }}";
        receiver_id = "{{ sender_obj.id }}";

        //For sending
        $(function () {
            scrolltoend();
            $('#chat-box').on('submit', function (event) {
                event.preventDefault();
                var message = $('#id_message');
                send('{{ sender_obj.name }}', '{{ receiver_obj.name }}', message.val());
                message.val('');
            })
        })
    </script>
{% endblock %}
