/* label focus color */
.input-field input[type=text]:focus + label {
    color: #000; !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000; !important;
    box-shadow: 0 1px 0 0 #000; !important;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #000; !important;
    box-shadow: 0 1px 0 0 #000; !important;
}

.nav-color {
    background-color: cadetblue;
    color: white;
}

.active {
    background-color: rgb(38, 137, 184);
}

.friend-icon {
    background-color: cadetblue;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
}

.your-msg:hover .tool-bar, .friend-msg:hover .tool-bar {
    display: block;
}

.tool-bar {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

.tool-bar span {
    padding: 5px;
    /* margin: 5px; */
    border-radius: 50%;
    cursor: pointer;
}

.tool-bar span:hover {
    background-color: lightgray;
    border: 1px solid lightgray
}